<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">

</head>
<body>
<%- include('../includes/nav.ejs') %>
 <main>
<% if (products.length) { %>
    <div class="grid">
       <% products.forEach(function (prod){ %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= prod.title %></h1>
                </header>
                <div class="card__image">
                    <a href="/product-details/<%=prod.id%>">
                    <img src="<%= prod.imageUrl %>" alt="<%= prod.title %>">
                    </a>
                </div>
                <div class="card__content">
                    <h2 class="product__price">$<%= prod.price %></h2>
                    <p class="product__description"><%= prod.description %></p>
                </div>
                <div class="card__actions">
                    <a class="btn" href="/add-to-cart/:<%=prod.id%>">Add to Cart</a>
                </div>
            </article>
            <%});%>
        </div>
        <% } else { %>
        <div><h1>No Products are Available Now</h1></div>
        <% } %> </main>
<%- include('../includes/closing.ejs') %>
